In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/drive/My Drive/scraped.xlsx')

In [ ]:
df.isnull().sum()

username          0
description     120
location        302
following         0
followers         0
totaltweets       0
retweetcount      0
text              0
hashtags          0
dtype: int64

In [ ]:
df.drop(['description','location'],axis = 1)

            username  ...                                           hashtags
0       PANGKAKISTOS  ...  ['coronavirus', 'CoronavirusOutbreak', 'Corona...
1    corona_scotnews  ...                         ['coronavirus', 'covid19']
2       DailyNews_lk  ...  ['LakeHouseDigital', 'coronavirus', 'SriLanka'...
3        sadia_mufti  ...                                                 []
4         Ociocentez  ...  ['corona', 'coronavirus', 'pandemic', 'vaccine...
..               ...  ...                                                ...
995       AsharqPlus  ...  ['kazakhstan', 'corona', 'alarabiya', 'covid_19']
996  facemask24_shop  ...  ['helpothers', 'covid2020', 'corona', 'ootd', ...
997  AmandaR14821525  ...  ['BiggBoss14', 'economy', 'CoronaVaccine', 'Co...
998      Sparkymannz  ...  ['corona', 'vitaminaD', 'Coronavirus', 'covid'...
999    530postscript  ...              ['coronavirus', 'Corona', 'COVID„Éº19']

[1000 rows x 7 columns]

In [ ]:
df.dtypes

username        object
description     object
location        object
following       object
followers       object
totaltweets     object
retweetcount    object
text            object
hashtags        object
dtype: object

In [ ]:
df = df.astype('object')

In [ ]:
len(df["hashtags"][0])

71

In [ ]:
class tags:
  def __init__(self,df):
    self.df = df


  def process(self):
    res = []
    for i in range(len(self.df)):
      self.df["hashtags"][i] = self.preprocess(self.df['hashtags'][i])
    return self.df


  def preprocess(self,s):
    s = s.replace("'", "")
    s = s.replace("[","")
    s = s.replace("]","")
    s = s.replace(" ","")
    
    return s

In [ ]:
t = tags(df)
df1 = t.process()

In [ ]:
#for finding intersection/union of hashtags for all reviews
# res = []
# for i in range(len(df1)-1):
#   res = list(set(res) | set(df1[i]) | set(df1[i+1]))

In [ ]:
df1["hashtags"]=df1["hashtags"].apply(lambda x: x.lower())

In [ ]:
from collections import Counter

In [ ]:
res = []
for i in range(len(df1)):
  res.extend(df1["hashtags"][i].split(","))

In [ ]:
from collections import defaultdict 
hashtags_count = defaultdict(int)

In [ ]:
for i in range(len(df1)):
  if len(df1["hashtags"][i]) == 0:
    hashtags_count[0]+=1
    continue
  count = len(df1["hashtags"][i].split(","))
  hashtags_count[count]+=1

In [ ]:
def percent(part,whole):
  return "%.2f" %((part/whole)*100)


def hashtags_analysis(hashtags_count):
  res = []
  for key in sorted(hashtags_count.keys()):
    s = '{0} tweets with {1} hashtags ({2}%)'.format(hashtags_count[key],key,percent(hashtags_count[key],len(df1)))
    res.append(s)
  return res

In [ ]:
r = hashtags_analysis(hashtags_count)

In [ ]:
r

['217 tweets with 0 hashtags (21.70%)',
 '32 tweets with 1 hashtags (3.20%)',
 '58 tweets with 2 hashtags (5.80%)',
 '45 tweets with 3 hashtags (4.50%)',
 '68 tweets with 4 hashtags (6.80%)',
 '104 tweets with 5 hashtags (10.40%)',
 '40 tweets with 6 hashtags (4.00%)',
 '37 tweets with 7 hashtags (3.70%)',
 '181 tweets with 8 hashtags (18.10%)',
 '25 tweets with 9 hashtags (2.50%)',
 '26 tweets with 10 hashtags (2.60%)',
 '41 tweets with 11 hashtags (4.10%)',
 '44 tweets with 12 hashtags (4.40%)',
 '9 tweets with 13 hashtags (0.90%)',
 '18 tweets with 14 hashtags (1.80%)',
 '7 tweets with 15 hashtags (0.70%)',
 '16 tweets with 16 hashtags (1.60%)',
 '9 tweets with 17 hashtags (0.90%)',
 '4 tweets with 18 hashtags (0.40%)',
 '11 tweets with 19 hashtags (1.10%)',
 '4 tweets with 20 hashtags (0.40%)',
 '2 tweets with 21 hashtags (0.20%)',
 '1 tweets with 23 hashtags (0.10%)',
 '1 tweets with 27 hashtags (0.10%)']

In [ ]:
print(len(df1.index))#1000
serlis=df1.duplicated().tolist()
print(serlis.count(True))#11
serlis=df1.duplicated(['text']).tolist()
print(serlis.count(True))#340

1000
11
340

In [ ]:
df=df1.drop_duplicates(['text'])
df.reset_index(inplace=True)

In [ ]:
df.drop(['description','location'],axis = 1)

     index  ...                                           hashtags
0        0  ...  coronavirus,coronavirusoutbreak,corona,covid_1...
1        1  ...                                coronavirus,covid19
2        2  ...  lakehousedigital,coronavirus,srilanka,covid,co...
3        3  ...
4        4  ...     corona,coronavirus,pandemic,vaccine,inequality
..     ...  ...                                                ...
655    993  ...  covid__19,vaccinationdrive,covid19ireland,vacc...
656    995  ...               kazakhstan,corona,alarabiya,covid_19
657    996  ...  helpothers,covid2020,corona,ootd,coronavirus,h...
658    997  ...  biggboss14,economy,coronavaccine,corona,stocks...
659    999  ...                        coronavirus,corona,covid„Éº19

[660 rows x 8 columns]

In [ ]:
df.head(10)

   index  ...                                           hashtags
0      0  ...  coronavirus,coronavirusoutbreak,corona,covid_1...
1      1  ...                                coronavirus,covid19
2      2  ...  lakehousedigital,coronavirus,srilanka,covid,co...
3      3  ...
4      4  ...     corona,coronavirus,pandemic,vaccine,inequality
5      5  ...  covid19,usa,coronavirus,staysafe,corona,telegr...
6      6  ...                                coronavirus,covid19
7      7  ...  businesstip,coronavirus,covidsecondwave,busine...
8      9  ...  moderna,comirnaty,lockdown,vaccination,pfizer,...
9     10  ...                                coronavirus,covid19

[10 rows x 10 columns]

In [ ]:
import re
for i in range(len(df)):
    txt = df['text'][i]
    txt=re.sub(r'@[A-Z0-9a-z_:]+','',txt)#replace username-tags
    txt=re.sub(r'^[RT]+','',txt)#replace RT-tags
    txt = re.sub('https?://[A-Za-z0-9./]+','',txt)#replace URLs
    txt=re.sub("[^a-zA-Z]", " ",txt)#replace hashtags
    
    df.at[i,'text']=txt

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('universal_tagset')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package universal_tagset to /root/nltk_data...
[nltk_data]   Unzipping taggers/universal_tagset.zip.

True

In [ ]:
df_copy = df.copy()
from nltk.corpus import sentiwordnet as swn
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
nltk.download('sentiwordnet')
nltk.download('wordnet')
# for i in range(len(df_copy.index)):
#         text = df_copy['text'][i]
#         tokens = nltk.word_tokenize(text)
#         tagged_sent = nltk.pos_tag(tokens)
#         store_it = [(word, nltk.map_tag('en-ptb', 'universal', tag)) for word, tag in tagged_sent]

[nltk_data] Downloading package sentiwordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/sentiwordnet.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
 def pos_senti_swn(df_copy):#takes
    li_swn=[]
    li_swn_pos=[]
    li_swn_neg=[]
    missing_words=[]
    for i in range(len(df_copy.index)):
        text = df_copy['text'][i]
        tokens = nltk.word_tokenize(text)
        tagged_sent = nltk.pos_tag(tokens)
        store_it = [(word, nltk.map_tag('en-ptb', 'universal', tag)) for word, tag in tagged_sent]
        #print("Tagged Parts of Speech:",store_it)
        lem = WordNetLemmatizer()
        pstem = PorterStemmer()
        pos_total=0
        neg_total=0
        for word,tag in store_it:
            if(tag=='NOUN'):
                tag='n'
            elif(tag=='VERB'):
                tag='v'
            elif(tag=='ADJ'):
                tag='a'
            elif(tag=='ADV'):
                tag = 'r'
            else:
                tag='nothing'

            if(tag!='nothing'):
                concat = word+'.'+tag+'.01'
                try:
                    this_word_pos=swn.senti_synset(concat).pos_score()
                    this_word_neg=swn.senti_synset(concat).neg_score()
                    #print(word,tag,':',this_word_pos,this_word_neg)
                except Exception as e:
                    wor = lem.lemmatize(word)
                    concat = wor+'.'+tag+'.01'
                    # Checking if there's a possiblity of lemmatized word be accepted into SWN corpus
                    try:
                        this_word_pos=swn.senti_synset(concat).pos_score()
                        this_word_neg=swn.senti_synset(concat).neg_score()
                    except Exception as e:
                        wor = pstem.stem(word)
                        concat = wor+'.'+tag+'.01'
                        # Checking if there's a possiblity of lemmatized word be accepted
                        try:
                            this_word_pos=swn.senti_synset(concat).pos_score()
                            this_word_neg=swn.senti_synset(concat).neg_score()
                        except:
                            missing_words.append(word)
                            continue
                pos_total+=this_word_pos
                neg_total+=this_word_neg
        li_swn_pos.append(pos_total)
        li_swn_neg.append(neg_total)

        if(pos_total!=0 or neg_total!=0):
            if(pos_total>neg_total):
                li_swn.append(1)
            else:
                li_swn.append(-1)
        else:
            li_swn.append(0)
    df_copy.insert(5,"pos_score",li_swn_pos,True)
    df_copy.insert(6,"neg_score",li_swn_neg,True)
    df_copy.insert(7,"sent_score",li_swn,True)
    return df_copy

In [ ]:
df_lbld = pos_senti_swn(df_copy)

In [ ]:
import re
from nltk.corpus import stopwords
class cleaning:
  def __init__(self,df):
    self.df = df
    self.li_swn=[]
    self.li_swn_pos=[]
    self.li_swn_neg=[]
    self.missing_words=[]
    self.lem = WordNetLemmatizer()
    self.pstem = PorterStemmer()
    self.stopwords = stopwords.words('english')
  
  def process(self):
    self.clean()
    # self.pos_tags_swn()
    # self.pos_tag_after_cleaning()
    # self.modify_df()

  # def modify_df(self):
  #   self.df.insert(5,"pos_score",self.li_swn_pos,True)
  #   self.df.insert(6,"neg_score",self.li_swn_neg,True)
  #   self.df.insert(7,"sent_score",self.li_swn,True)

  def get_df(self):
    return self.df

  # def clean(self,s):
  #   for i in range(len(self.df)):
  #     txt = self.df['text'][i]
  #     txt=re.sub(r'@[A-Z0-9a-z_:]+','',txt)#replace username-tags
  #     txt=re.sub(r'^[RT]+','',txt)#replace RT-tags
  #     txt = re.sub('https?://[A-Za-z0-9./]+','',txt)#replace URLs
  #     txt=re.sub("[^a-zA-Z]", " ",txt)#replace hashtags
      
  #     self.df.at[i,'text']=txt

  #   if s.lower() != 'f':
  #     return

  #     for i in range(len(self.df)):
  #       text = self.df['text'][i]
  #       tokens = nltk.word_tokenize(text)
  #       tokens = [word for word in tokens if word not in self.stopwords]
  #       for j in range(len(tokens)):
  #           tokens[j] = self.lem.lemmatize(tokens[j])
  #           tokens[j] = self.pstem.stem(tokens[j])

  #       tokens_sent=' '.join(tokens)
  #       self.df.at[i,"text"] = tokens_sent

  # def pos_tag_after_cleaning(self):
  #   for i in range(len(self.df)):
  #     text = self.df['text'][i]
  #     tokens = nltk.word_tokenize(text)
  #     tokens = [word for word in tokens if word not in self.stopwords]
  #     for j in range(len(tokens)):
  #         tokens[j] = self.lem.lemmatize(tokens[j])
  #         tokens[j] = self.pstem.stem(tokens[j])

  #     tokens_sent=' '.join(tokens)
  #     self.df.at[i,"text"] = tokens_sent

  



  # def pos_tags_swn(self):
    
  #   for i in range(len(self.df.index)):
  #       text = self.df['text'][i]
  #       tokens = nltk.word_tokenize(text)
  #       tagged_sent = nltk.pos_tag(tokens)
  #       store_it = [(word, nltk.map_tag('en-ptb', 'universal', tag)) for word, tag in tagged_sent]
  #       #print("Tagged Parts of Speech:",store_it)
        
  #       pos_total=0
  #       neg_total=0
  #       for word,tag in store_it:
  #           if(tag=='NOUN'):
  #               tag='n'
  #           elif(tag=='VERB'):
  #               tag='v'
  #           elif(tag=='ADJ'):
  #               tag='a'
  #           elif(tag=='ADV'):
  #               tag = 'r'
  #           else:
  #               tag='nothing'

  #           if(tag!='nothing'):
  #               concat = word+'.'+tag+'.01'
  #               try:
  #                   this_word_pos=swn.senti_synset(concat).pos_score()
  #                   this_word_neg=swn.senti_synset(concat).neg_score()
  #                   #print(word,tag,':',this_word_pos,this_word_neg)
  #               except Exception as e:
  #                   wor = self.lem.lemmatize(word)
  #                   concat = wor+'.'+tag+'.01'
  #                   # Checking if there's a possiblity of lemmatized word be accepted into SWN corpus
  #                   try:
  #                       this_word_pos=swn.senti_synset(concat).pos_score()
  #                       this_word_neg=swn.senti_synset(concat).neg_score()
  #                   except Exception as e:
  #                       wor = self.pstem.stem(word)
  #                       concat = wor+'.'+tag+'.01'
  #                       # Checking if there's a possiblity of lemmatized word be accepted
  #                       try:
  #                           this_word_pos=swn.senti_synset(concat).pos_score()
  #                           this_word_neg=swn.senti_synset(concat).neg_score()
  #                       except:
  #                           self.missing_words.append(word)
  #                           continue
  #               pos_total+=this_word_pos
  #               neg_total+=this_word_neg
  #       self.li_swn_pos.append(pos_total)
  #       self.li_swn_neg.append(neg_total)

  #       if(pos_total!=0 or neg_total!=0):
  #           if(pos_total>neg_total):
  #               self.li_swn.append(1)
  #           else:
  #               self.li_swn.append(-1)
  #       else:
  #           self.li_swn.append(0)

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
df.head(20)

    index  ...                                           hashtags
0       0  ...  coronavirus,coronavirusoutbreak,corona,covid_1...
1       1  ...                                coronavirus,covid19
2       2  ...  lakehousedigital,coronavirus,srilanka,covid,co...
3       3  ...
4       4  ...     corona,coronavirus,pandemic,vaccine,inequality
5       5  ...  covid19,usa,coronavirus,staysafe,corona,telegr...
6       6  ...                                coronavirus,covid19
7       7  ...  businesstip,coronavirus,covidsecondwave,busine...
8       9  ...  moderna,comirnaty,lockdown,vaccination,pfizer,...
9      10  ...                                coronavirus,covid19
10     11  ...
11     13  ...  worldhealthorganization,tedrosadhanomghebreyes...
12     14  ...        corona,vitaminad,coronavirus,covid,vitamind
13     17  ...                                coronavirus,covid19
14     18  ...  economy,commodity,finances,petrolprice,invest,...
15     24  ...  covid19,coronavirus,staysafe,corona,telegram,n...
16     25  ...                                        coronavirus
17     26  ...        ctvalue,donimonardo,corona,covid19,positive
18     27  ...  covid19sl,coronavirus,srilanka,corona,covid19l...
19     28  ...  viruschines,virus,coronavirus,covid,covid19,pa...

[20 rows x 10 columns]

In [ ]:
df_cleaned.to_excel('/drive/My Drive/cleaned.xlsx')

In [ ]:
from afinn import Afinn
from textblob import TextBlob
import re
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

class polarity_building:
  def __init__(self,df):
    self.df = df
    self.af = Afinn()
    self.sid = SentimentIntensityAnalyzer()
    self.lem = WordNetLemmatizer()
    self.pstem = PorterStemmer()
    self.stopwords = stopwords.words('english')
    
  def clean_part(self,df):
    for i in range(len(df)):
      txt = df['text'][i]
      txt=re.sub(r'@[A-Z0-9a-z_:]+','',txt)#replace username-tags
      txt=re.sub(r'^[RT]+','',txt)#replace RT-tags
      txt = re.sub('https?://[A-Za-z0-9./]+','',txt)#replace URLs
      txt=re.sub("[^a-zA-Z]", " ",txt)#replace hashtags
      
      df.at[i,'text']=txt
    return df

  def clean_full(self,df):
    for i in range(len(df)):
      text = df['text'][i]
      tokens = nltk.word_tokenize(text)
      tokens = [word for word in tokens if word not in self.stopwords]
      for j in range(len(tokens)):
          tokens[j] = self.lem.lemmatize(tokens[j])
          tokens[j] = self.pstem.stem(tokens[j])

      tokens_sent=' '.join(tokens)
      df.at[i,"text"] = tokens_sent
    return df

  def process(self,s):
    
    if s == 'swn':
      self.df = self.sentiment_swn(self.clean_part(self.df))
      return
    elif s == 'afinn':
      
      self.df = self.sentiment_afinn(self.clean_full(self.clean_part(self.df)))
      return
    elif s == 'blob':
      
      self.df = self.sentiment_blob(self.clean_full(self.clean_part(self.df)))
      return
    elif s == 'vader':
      self.df = self.sentiment_vader(self.clean_full(self.clean_part(self.df)))
      return
    

  def get_df(self):
    return self.df

  def sentiment_afinn(self,df):
    sentiment_scores = [self.af.score(article) for article in list(df['text'])]
    sentiment_category = [1 if score > 0 else -1 if score < 0 else 0 for score in sentiment_scores]
    df.insert(5,"sentiment_category",sentiment_category,True)
    return df
    


  def sentiment_blob(self,df):
    sentiment_scores_tb = [round(TextBlob(article).sentiment.polarity, 3) for article in df['text']]
    sentiment_category_tb = [1 if score > 0 else -1 if score < 0 else 0 for score in sentiment_scores_tb]
    df.insert(5,"sentiment_category",sentiment_category_tb,True)
    return df

  def sentiment_vader(self,df):
    compound = [self.sid.polarity_scores(text)['compound'] for text in df['text']]
    sentiment_category_vader = [1 if score > 0 else -1 if score < 0 else 0 for score in compound]
    df.insert(5,"sentiment_category",sentiment_category_vader,True)
    return df


  def sentiment_swn(self,df):
    li_swn=[]
    li_swn_pos=[]
    li_swn_neg=[]
    missing_words=[]
    
    for i in range(len(df.index)):
        text = df['text'][i]
        tokens = nltk.word_tokenize(text)
        tagged_sent = nltk.pos_tag(tokens)
        store_it = [(word, nltk.map_tag('en-ptb', 'universal', tag)) for word, tag in tagged_sent]
        #print("Tagged Parts of Speech:",store_it)
        
        pos_total=0
        neg_total=0
        for word,tag in store_it:
            if(tag=='NOUN'):
                tag='n'
            elif(tag=='VERB'):
                tag='v'
            elif(tag=='ADJ'):
                tag='a'
            elif(tag=='ADV'):
                tag = 'r'
            else:
                tag='nothing'

            if(tag!='nothing'):
                concat = word+'.'+tag+'.01'
                try:
                    this_word_pos=swn.senti_synset(concat).pos_score()
                    this_word_neg=swn.senti_synset(concat).neg_score()
                    #print(word,tag,':',this_word_pos,this_word_neg)
                except Exception as e:
                    wor = self.lem.lemmatize(word)
                    concat = wor+'.'+tag+'.01'
                    # Checking if there's a possiblity of lemmatized word be accepted into SWN corpus
                    try:
                        this_word_pos=swn.senti_synset(concat).pos_score()
                        this_word_neg=swn.senti_synset(concat).neg_score()
                    except Exception as e:
                        wor = self.pstem.stem(word)
                        concat = wor+'.'+tag+'.01'
                        # Checking if there's a possiblity of lemmatized word be accepted
                        try:
                            this_word_pos=swn.senti_synset(concat).pos_score()
                            this_word_neg=swn.senti_synset(concat).neg_score()
                        except:
                            missing_words.append(word)
                            continue
                pos_total+=this_word_pos
                neg_total+=this_word_neg
        li_swn_pos.append(pos_total)
        li_swn_neg.append(neg_total)

        if(pos_total!=0 or neg_total!=0):
            if(pos_total>neg_total):
                li_swn.append(1)
            else:
                li_swn.append(-1)
        else:
            li_swn.append(0)


    # self.df.insert(5,"pos_score",li_swn_pos,True)
    # self.df.insert(6,"neg_score",li_swn_neg,True)
    df.insert(5,"sent_category",li_swn,True)
    return df

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [ ]:
pip install afinn

Collecting afinn
  Downloading https://files.pythonhosted.org/packages/86/e5/ffbb7ee3cca21ac6d310ac01944fb163c20030b45bda25421d725d8a859a/afinn-0.1.tar.gz (52kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 61kB 2.9MB/s
Building wheels for collected packages: afinn
  Building wheel for afinn (setup.py) ... done
  Created wheel for afinn: filename=afinn-0.1-cp36-none-any.whl size=53451 sha256=efbe7543176c912ca5d4de832eec1c64c3733b956116df684dd874f29d2c1e0e
  Stored in directory: /root/.cache/pip/wheels/b5/1c/de/428301f3333ca509dcf20ff358690eb23a1388fbcbbde008b2
Successfully built afinn
Installing collected packages: afinn
Successfully installed afinn-0.1

In [ ]:
len(df)

660

In [ ]:
df_copy = df.copy()
pol = polarity_building(df_copy)
pol.process('blob')
df_vader = pol.get_df()
df_vader.to_excel('/drive/My Drive/blob_cleaned.xlsx')

In [ ]:
df_vader

     index  ...                                           hashtags
0        0  ...  coronavirus,coronavirusoutbreak,corona,covid_1...
1        1  ...                                coronavirus,covid19
2        2  ...  lakehousedigital,coronavirus,srilanka,covid,co...
3        3  ...
4        4  ...     corona,coronavirus,pandemic,vaccine,inequality
..     ...  ...                                                ...
655    993  ...  covid__19,vaccinationdrive,covid19ireland,vacc...
656    995  ...               kazakhstan,corona,alarabiya,covid_19
657    996  ...  helpothers,covid2020,corona,ootd,coronavirus,h...
658    997  ...  biggboss14,economy,coronavaccine,corona,stocks...
659    999  ...                        coronavirus,corona,covid„Éº19

[660 rows x 11 columns]